<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>
        <div>
            ¡Tu identidad fue validada exitosamente!
        </div>
        <div>
            Ya podés pedir tus credenciales desde ai·di. Así, vas a poder recibir y gestionar tus credenciales Semillas y acceder a los beneficios del programa.
        </div>
    </p>

    <div>
        Muchas gracias.
    </div>
    <div>
        Equipo ai·di | Proyecto DIDI
    </div>
</body>
</html>