<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <title>Encuesta Socio-Económica</title>

        <div class="head-sem-print">
            <h2 class="margin-top-10">Programa Semillas</h2>
            <img src="logo-semillas.svg" width="100" />
        </div>
        <div class="head-sem-print">
            Encuesta socio-económica
        </div>

    </head>
<body>
    <table style="width: 100%" BORDER="2">
        {{tableContent}}
    </table>
</body>
</html>