<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>
        <div>
            Lamentablemente Semillas <strong>no pudo validar tu identidad</strong>.
        </div>
        <div>
            Motivo: {rejectReason}.
        </div>
        <div>
            Observación: {rejectionObservations}.
        </div>
    </p>
    <p>
        ¿Creés que es un error? Comunicate con tu asesora o asesor de Semillas.
    </p>
    <div>
        Muchas gracias.
    </div>
    <div>
        Equipo ai·di | Proyecto DIDI
    </div>
</body>
</html>