<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Semillas Prestador</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body
        style="
			margin: 0;
			padding: 0;
			font-family: Arial, Helvetica, sans-serif;
			color: #404040;
		"
>
<table
        border="0"
        cellpadding="10"
        cellspacing="8"
        width="100%"
        style="border-collapse: collapse;"
>
    <tr>
        <td>
            Estimado{providerName},  <br />
            El beneficiario del Programa Semillas {name} {lastname}, DNI {dni},
            desea solicitar un turno para {himselfOrFamiliar}. A continuación
            le brindamos la información compartida por el beneficiario.
        </td>
    </tr>
    <tr>
        <td align="center">
            <table
                    border="2"
                    cellpadding="20"
                    cellspacing="0"
                    width="500"
                    style="border-color: #c7c7c7; border-radius: 4px;"
            >
                <tr>
                    <td>
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <table
                                            border="0"
                                            width="100%"
                                            cellpadding="0"
                                            cellspacing="0"
                                    >
                                        <tr>
                                            <td style="font-size: 22px; font-weight: bold;">
                                                {name} {lastname}
                                            </td>
                                            <td align="right">
                                                <img
                                                        src="{frontendUrl}/img/logo.png"
                                                        alt="Semillas"
                                                />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" width="100%" cellpadding="0">
                                        <tr>
                                            <td
                                                    style="
															font-size: 18px;
															font-weight: bold;
															color: rgb(14, 168, 155);
															padding-top: 30px;
															padding-bottom: 30px;
														"
                                            >
                                                Puede acceder al servicio
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 14px; font-weight: bold;">
                                                Datos del Solicitante:
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table
                                                        border="0"
                                                        style="font-size: 14px; padding-left: 36px;"
                                                >
                                                    <tr>
                                                        <td><strong>Nombre</strong>: {name}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Apellido</strong>: {lastname}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>DNI</strong>: {dni}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong>Fecha de nacimiento</strong>:
                                                            {birthdate}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Carácter</strong>: {character}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Teléfono</strong>: {phone}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Email</strong>: {email}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr style="font-size: 13px;">
                                <td align="right" style="padding-top: 25px;">
                                    <strong>Turno Solicitado por:</strong> {name} {lastname}
                                </td>
                            </tr>
                            <tr style="font-size: 13px;">
                                <td align="right">
                                    <strong>Titular del Beneficio:</strong> {nameOwner}
                                    {lastnameOwner}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            Si lo desea, puede ingresar al siguiente link donde visualizará esta
            información:
            <a href="{sharedLink}">
						<span
                        >Ver credenciales</span
                        >
            </a>
        </td>
    </tr>
    <tr>
        <td>
            Atte. <br />
            ai.di | Proyecto DIDI
        </td>
    </tr>
</table>
</body>
</html>